{{! @glint-nocheck }}
{{#unless @message.isDeleted}}
  <div class='private-message-view'>
    <div class='private-message-view-header'>
      {{#if @message.sender.avatarUrl}}
        <Common::Avatar
          @src={{@message.sender.avatarUrl}}
          @size='large'
          class='margin-auto'
        />
        <hr />
      {{/if}}
      <div>
        <table>
          <tbody>
            <tr>
              <td>
                <p>Betreff: </p>
              </td>
              <td class='flex-row'>
                <p><b>{{@message.title}}</b></p>
              </td>
            </tr>
            {{#if @message.sender}}
              <tr>
                <td>
                  <p>Absender: </p>
                </td>
                <td class='flex-row'>
                  <p><b>{{@message.sender.name}}</b></p>
                </td>
              </tr>
            {{/if}}
            {{#if @message.recipient}}
              <tr>
                <td>
                  <p>Empfänger: </p>
                </td>
                <td class='flex-row'>
                  <p><b>{{@message.recipient.name}}</b></p>
                </td>
              </tr>
            {{/if}}
            <tr>
              <td>
                <p>Gesendet: </p>
              </td>
              <td class='flex-row'>
                <p><b>{{@message.date}}</b></p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Ordner: </p>
              </td>
              <td class='flex-row'>
                <p><b>{{this.folder}}</b></p>
              </td>
            </tr>
          </tbody>
        </table>
        {{#if @message.important}}
          <div class='private-message-view-tag-important'>
            <FaIcon @icon='circle-exclamation' />
            Wichtige Nachricht!
          </div>
        {{/if}}
      </div>
    </div>
    <div class='private-message-view-content'>
      <p>{{this.content}}</p>
    </div>
  </div>
{{/unless}}