<div id='sidebar-nav'>
  <Common::Control::Link @route='home' @onClick={{this.handleNavLinkClick}}>
    <FaIcon @icon='house' />
  </Common::Control::Link>
  {{#if this.showBoardOverviewButton}}
    <Common::Control::Link
      @route='authenticated.board-overview'
      @onClick={{this.handleNavLinkClick}}
    >
      <FaIcon @icon='bars-staggered' />
    </Common::Control::Link>
  {{/if}}
  {{#if this.authenticated}}
    {{!-- <Common::Control::Link @route='/' @onClick={{this.handleNavLinkClick}}>
    <FaIcon @icon='envelope' />
  </Common::Control::Link>--}}
    <Common::Control::Link
      @route='authenticated.bookmarks'
      @onClick={{this.handleNavLinkClick}}
    >
      <FaIcon @icon='bookmark' />
    </Common::Control::Link>
  {{/if}}
  <Common::Control::Link
    @route='authenticated.settings'
    @onClick={{this.handleNavLinkClick}}
  >
    <FaIcon @icon='gear' />
  </Common::Control::Link>
</div>