<div id={{this.componentId}} class='input-container'>
  <input
    id='{{this.componentId}}-input'
    class='control-size{{this.size}}'
    value={{@value}}
    placeholder=' '
    aria-placeholder={{@label}}
    ...attributes
  />
  <label for='{{this.componentId}}-input'>{{@label}}</label>
</div>