<div id={{this.componentId}} class='input-container control-size-{{this.size}}'>
  <input
    id='{{this.componentId}}-input'
    value={{this.value}}
    placeholder=' '
    aria-placeholder={{@label}}
    {{on 'change' this.handleChange}}
    ...attributes
  />
  <label for='{{this.componentId}}-input'>{{@label}}</label>
</div>