{{! @glint-nocheck }}
<div class='quickstart-item'>
  <Common::Control::Link
    class='flex-row align-items-center justify-content-start'
    @route='authenticated.thread'
    @query={{hash
      TID=@bookmark.thread.id
      PID=@bookmark.postId
      lastReadPost=@bookmark.postId
      page=undefined
      scrollToBottom=undefined
    }}
    @variant='primary'
    @onClick={{this.handleLinkClick}}
  >
    <FaIcon
      @icon={{if this.isClosed 'lock' 'bookmark'}}
      class='fg-text-subtle'
    />
    <div class='text-start'>
      <p class='title max-lines-2'> {{@bookmark.thread.title}}</p>
      <p class='subtitle'>{{this.subtitle}}</p>
    </div>
  </Common::Control::Link>
</div>