{{! @glint-nocheck }}
<div id='sidebar' role='navigation'>
  <Features::Gestures::Container
    @id='sidebar-gestures-container-inner'
    @disabled={{this.disableGestures}}
    @gestures={{this.gestures.inner}}
  >
    {{#if (eq this.navVerticalPosition 'top')}}
      <Sidebar::Nav />
    {{/if}}

    <div id='sidebar-content'>
      <Features::Quickstart @inSidebar={{true}} />
    </div>

    {{#if (eq this.navVerticalPosition 'bottom')}}
      <Sidebar::Nav />
    {{/if}}
  </Features::Gestures::Container>
  <Features::Gestures::Container
    @id='sidebar-gestures-container-outer'
    @gestures={{this.gestures.outer}}
  />
</div>
<button
  id='sidebar-backdrop'
  type='button'
  aria-hidden='true'
  {{on 'click' this.handleSidebarBackdropClick}}
/>