<Portal @target='top-nav'>
  <Nav::Component::Header
    @title={{@thread.title}}
    @subtitle={{this.subtitle}}
  />
</Portal>

<Portal @target='bottom-nav'>
  <Common::Control::Link
    @title='Forenübersicht'
    @size='square'
    @route='board'
    @query={{hash BID=@thread.boardId}}
  ><FaIcon @icon='arrow-left' /></Common::Control::Link>

  <div class='nav-element'>
    {{#if this.previousPageVisible}}
      <Common::Control::Link
        @title='Vorherige Seite'
        @size='square'
        @route='thread'
        @query={{hash TID=@thread.id PID='' page=this.previousPage}}
      ><FaIcon @icon='chevron-left' /></Common::Control::Link>
    {{else}}
      <span class='hidden control-size-square' />
    {{/if}}

    <Common::Control::Menu
      @position='top'
      @variant='primary-transparent'
      @icon='ellipsis'
    >
      <Common::Control::Menu::Link
        @href={{this.originalUrl}}
        @text='Original öffnen'
        target='_blank'
      />
      <Common::Control::Menu::LinkTo
        @route='thread'
        @query={{hash TID=@thread.id page='1'}}
        @text='Zur ersten Seite'
      />
      <Common::Control::Menu::Button
        @text='Zur Seite...'
        @onClick={{this.handleGoToPage}}
      />
      <Common::Control::Menu::LinkTo
        @route='thread'
        @query={{hash TID=@thread.id page=@thread.pagesCount}}
        @text='Zur letzten Seite'
      />
    </Common::Control::Menu>

    {{#if this.nextPageVisible}}
      <Common::Control::Link
        @title='Nächste Seite'
        @size='square'
        @route='thread'
        @query={{hash TID=@thread.id PID='' page=this.nextPage}}
      ><FaIcon @icon='chevron-right' /></Common::Control::Link>
    {{else}}
      <Common::Control::Button
        @size='square'
        @icon='rotate-right'
        @variant='primary-transparent'
        @onClick={{this.reload}}
      />
    {{/if}}
  </div>

  {{! TODO: Replace with new reply button }}
  <span class='hidden control-size-square' />
</Portal>