<Portal @target='top-nav'>
  <Nav::Component::Header
    @title={{@thread.title}}
    @subtitle={{this.subtitle}}
  />
</Portal>

<Portal @target='bottom-nav'>
  <Common::Control::Link
    @title='Zum Board'
    @size='square'
    @route='authenticated.board'
    @query={{hash BID=@thread.boardId}}
    class='nav-element-left'
  ><FaIcon @icon='arrow-left' /></Common::Control::Link>

  <div class='nav-element-center'>
    {{#if this.previousPageVisible}}
      <Common::Control::Link
        @title='Vorherige Seite'
        @size='square'
        @route='authenticated.thread'
        @query={{hash
          TID=@thread.id
          page=this.previousPage
          PID=undefined
          lastReadPost=undefined
          scrollToBottom=undefined
        }}
      ><FaIcon @icon='chevron-left' /></Common::Control::Link>
    {{else}}
      <span class='hidden control-size-square' />
    {{/if}}

    <Common::Control::Menu
      @position='top'
      @variant='primary-transparent'
      @icon='ellipsis'
    >
      <Common::Control::Menu::Link
        @text='Original öffnen'
        @icon='up-right-from-square'
        @href={{this.originalUrl}}
        target='_blank'
      />
      <Common::Control::Menu::LinkTo
        @text='Zur ersten Seite'
        @icon='backward-step'
        @route='authenticated.thread'
        @query={{hash
          TID=@thread.id
          page='1'
          PID=undefined
          lastReadPost=undefined
          scrollToBottom=undefined
        }}
      />
      <Common::Control::Menu::Button
        @text='Zur Seite...'
        @icon='magnifying-glass'
        @onClick={{this.handleGoToPage}}
      />
      <Common::Control::Menu::LinkTo
        @text='Zur letzten Seite'
        @icon='forward-step'
        @route='authenticated.thread'
        @query={{hash
          TID=@thread.id
          page=@thread.pagesCount
          PID=undefined
          lastReadPost=undefined
          scrollToBottom=undefined
        }}
      />
    </Common::Control::Menu>

    {{#if this.nextPageVisible}}
      <Common::Control::Link
        @title='Nächste Seite'
        @size='square'
        @route='authenticated.thread'
        @query={{hash
          TID=@thread.id
          page=this.nextPage
          PID=undefined
          lastReadPost=undefined
          scrollToBottom=undefined
        }}
      ><FaIcon @icon='chevron-right' /></Common::Control::Link>
    {{else}}
      <Common::Control::Button
        @size='square'
        @icon='rotate-right'
        @variant='primary-transparent'
        @onClick={{this.reload}}
      />
    {{/if}}
  </div>

  <Common::Control::Link
    @title='Antworten'
    @size='square'
    @route='authenticated.post.create'
    @query={{hash TID=@thread.id page=@thread.pagesCount}}
    @disabled={{@thread.isClosed}}
    class='nav-element-right'
  ><FaIcon
      @icon={{if @thread.isClosed 'lock' 'comment'}}
    /></Common::Control::Link>
</Portal>