{{! @glint-nocheck }}
<div id={{this.elementId}} class='post'>
  {{#if @subtle}}
    <span class={{class-names this 'subtle-mask'}} />
  {{/if}}
  <div class={{class-names this 'header'}}>
    <div class={{class-names this 'details'}}>
      {{#if this.showAvatar}}
        <Common::Avatar @src={{@post.avatarUrl}} @userId={{@post.author.id}} />
      {{/if}}
      <button
        type='button'
        class={{class-names this 'author'}}
        {{on 'click' this.showAuthorProfile}}
      >{{#unless @post.author.locked}}
          <b>{{this.authorName}}</b>
        {{else}}
          <s><b>{{this.authorName}}</b></s><FaIcon @icon='lock' />
        {{/unless}}
      </button>
      <button
        href={{this.href}}
        type='button'
        class={{class-names this 'date'}}
        {{on 'click' this.copyUrl}}
      >{{this.date}}<FaIcon @icon='link' /></button>
    </div>
    {{#unless @isPreview}}
      <Common::Control::Menu @position='auto' @variant='secondary-transparent'>
        <Common::Control::Menu::LinkExternal
          @text='Original öffnen'
          @icon='up-right-from-square'
          @href={{this.url}}
          target='_blank'
        />
        <Common::Control::Menu::Button
          @text='Post melden'
          @icon='triangle-exclamation'
          @onClick={{this.report}}
        />
        <Common::Control::Menu::Button
          @text='Lesezeichen setzen'
          @icon='bookmark'
          @onClick={{this.setBookmark}}
        />
        <Common::Control::Menu::Button
          @text='Post speichern'
          @icon='floppy-disk'
          @onClick={{this.savePost}}
        />
        <Common::Control::Menu::Link
          @text='Zitieren'
          @icon='comment-dots'
          @route='authenticated.post.quote'
          @query={{hash
            TID=@post.threadId
            page=@thread.pagesCount
            PID=@post.id
          }}
        />
        {{#if this.canEdit}}
          <Common::Control::Menu::Link
            @text='Bearbeiten'
            @icon='edit'
            @route='authenticated.post.edit'
            @query={{hash TID=@post.threadId PID=@post.id}}
          />
        {{/if}}
      </Common::Control::Menu>
    {{/unless}}
  </div>
  <div class={{class-names this 'body'}}>
    {{#if @post.contentHidden}}
      <p class='subtitle no-margin'>⚠ Inhalt versteckt</p>
    {{else}}
      {{#if (or @post.title @post.icon)}}
        <p class={{class-names this 'title'}}>
          <Board::Icon @icon={{@post.icon}} />
          {{@post.title}}
        </p>
      {{/if}}
      <p class={{class-names this 'message'}}>
        {{this.message}}
      </p>
    {{/if}}
    {{#if @post.lastEdit}}
      <p class={{class-names this 'footer'}}>
        {{this.editingInfo}}
      </p>
    {{/if}}
  </div>
</div>