<div id='reply_{{@post.id}}' class='post {{if @subtle " post-subtle"}}'>
  <div class='post-details'>
    <div class='post-details-title'>
      {{#if this.showSmallAvatar}}
        <div class='post-avatar-small'>
          <img src={{this.avatarUrl}} alt='☉‿⚆​​' aria-hidden='true' />
        </div>
      {{/if}}
      <div class='flex-column justify-content-center'>
        <b class='post-details-author-name'>{{@post.author.name}}</b>
        <button
          href={{this.href}}
          type='button'
          class='color-variant-secondary post-details-date subtitle'
          {{on 'click' this.copyLink}}
        >{{this.date}}<FaIcon @icon='link' /></button>
      </div>
    </div>
    <Common::Control::Menu @position='bottom-left'>
      <Common::Control::Menu::Link
        @text='Original öffnen'
        @href={{this.originalUrl}}
        target='_blank'
      />
    </Common::Control::Menu>
  </div>
  <div class='post-content'>
    {{#if (or @post.title @post.icon)}}
      <p class='title post-title'>
        <Board::Icon
          @key={{@post.icon}}
          @directory='post-icons'
          @filename='{{@post.icon}}.gif'
        />
        {{@post.title}}
      </p>
    {{/if}}
    <p>
      {{this.content}}
    </p>
  </div>
</div>