<div id='reply_{{@post.id}}' class='post {{if @subtle " post-subtle"}}'>
  <div class='post-details'>
    <div class='post-details-title'>
      {{#if this.showSmallAvatar}}
        <div class='post-avatar-small'>
          <img src={{this.avatarUrl}} alt='☉‿⚆​​' aria-hidden='true' />
        </div>
      {{/if}}
      <div class='flex-column justify-content-center'>
        <b class='post-details-author-name'>{{@post.author.name}}</b>
        <button
          href={{this.href}}
          type='button'
          class='color-variant-secondary post-details-date subtitle'
          {{on 'click' this.copyLink}}
        >{{this.date}}<FaIcon @icon='link' /></button>
      </div>
    </div>
    <Common::Control::Menu @position='bottom-left'>
      <Common::Control::Menu::Link
        @text='Original öffnen'
        @href={{this.originalUrl}}
        target='_blank'
      />
      <Common::Control::Menu::Button
        @text='Lesezeichen setzen'
        @onClick={{this.setBookmark}}
      />
      {{#if this.canEdit}}
        <Common::Control::Menu::LinkTo
          @text='Bearbeiten'
          @route='authenticated.post.edit'
          @query={{hash TID=@post.threadId PID=@post.id}}
        />
      {{/if}}
    </Common::Control::Menu>
  </div>
  <div class='post-content'>
    {{#if @post.contentHidden}}
      <p class='subtitle no-margin'>⚠ Inhalt versteckt</p>
    {{else}}
      {{#if (or @post.title @post.icon)}}
        <p class='title post-title'>
          <Board::Icon
            @key={{@post.icon}}
            @directory='post-icons'
            @filename='{{@post.icon}}.gif'
          />
          {{@post.title}}
        </p>
      {{/if}}
      <p>
        {{this.message}}
      </p>
    {{/if}}
    {{#if @post.lastEdit}}
      <p class='subtitle'>
        <br /><br />{{this.editingInfo}}
      </p>
    {{/if}}
  </div>
</div>