<div class='post'>
  <div class='post-details'>

    <div class='post-details-title'>
      {{#if this.showSmallAvatar}}
        <div class='post-avatar-small'>
          <img src={{this.avatarUrl}} alt='☉‿⚆​​' aria-hidden='true' />
        </div>
      {{/if}}
      <div class='flex-column justify-content-center'>
        <b class='post-details-author-name'>{{@post.author.name}}</b>
        <a
          href={{this.href}}
          class='post-details-date subtitle'
        >{{this.date}}<FaIcon @icon='link' /></a>
      </div>
    </div>
    {{!-- <Common::Control::Button
      @icon='ellipsis-vertical'
      @text='Mehr Funktionen'
      @size='square'
      @onClick={{this.handleMenuClick}}
    /> --}}
  </div>
  <div class='post-content'>
    <p>
      {{this.content}}
    </p>
  </div>
</div>