{{! @glint-nocheck }}
<div class='bookmark'>
  <Common::Control::Link
    class='bookmark-link'
    @route='authenticated.thread'
    @query={{hash
      TID=@post.threadId
      PID=@post.id
      lastReadPost=undefined
      page=undefined
      scrollToBottom=undefined
    }}
    @onClick={{this.handleLinkClick}}
  >
    <span class='bookmark-details'>
      <p class='title bookmark-title max-lines-1'>{{this.title}}</p>
      <p class='subtitle bookmark-subtitle'>{{this.subtitle}}</p>
    </span>
  </Common::Control::Link>
  <Common::Control::Menu>
    <Common::Control::Menu::Button
      @text='Gespeicherten Post entfernen'
      @icon='trash'
      @onClick={{this.handleDelete}}
    />
  </Common::Control::Menu>
</div>