<div id={{this.componentId}} class='input-container control-size-{{this.size}}'>
  <textarea
    id='{{this.componentId}}-textarea'
    class='textarea-height-{{this.height}}'
    required={{@required}}
    {{on 'change' this.handleChange}}
    {{on 'focus' this.handleFocus}}
    ...attributes
  >{{this.value}}</textarea>
</div>