<div
  id={{this.componentId}}
  class='input-container control-size-{{this.size}}
    textarea-height-{{this.height}}'
>
  <textarea
    id='{{this.componentId}}-textarea'
    required={{@required}}
    {{on 'change' this.handleChange}}
    {{on 'focus' this.handleFocus}}
    ...attributes
  >{{this.value}}</textarea>
</div>