{{! @glint-nocheck }}
<Nav::Routes::PostForm
  @post={{@post}}
  @title={{@navTitle}}
  @subtitle={{@navSubtitle}}
/>

<form
  id='post-form'
  class='container-size-x-large'
  {{on 'submit' this.handleSubmit}}
>
  <div role='toolbar' id='post-form-toolbar'>
    <Board::PostForm::Control::EmojiSelect
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::MemeSelect
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Fett'
      @icon='bold'
      @opening='[b]'
      @closing='[/b]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Kursiv'
      @icon='italic'
      @opening='[i]'
      @closing='[/i]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Unterstrichen'
      @icon='underline'
      @opening='[u]'
      @closing='[/u]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Durchgestrichen'
      @icon='strikethrough'
      @opening='[s]'
      @closing='[/s]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::Link
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::Image
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleInput
      @title='Video einf端gen'
      @icon='youtube'
      @label='URL'
      @prefix='fab'
      @opening='[video]'
      @closing='[/video]'
      @type='url'
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleInput
      @title='Code einf端gen'
      @icon='code'
      @label='Code eingeben...'
      @opening='[code]'
      @closing='[/code]'
      @useTextarea={{true}}
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleInput
      @title='Zitat einf端gen'
      @icon='quote-right'
      @label='Zitat eingeben...'
      @opening='[quote]'
      @closing='[/quote]'
      @useTextarea={{true}}
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleInput
      @title='Spoiler einf端gen'
      @icon='eye'
      @prefix='far'
      @label='Spoiler eingeben...'
      @opening='[spoiler]'
      @closing='[/spoiler]'
      @useTextarea={{true}}
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='tex'
      @icon='t'
      @opening='[tex]'
      @closing='[/tex]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='trigger'
      @icon='magnifying-glass-minus'
      @opening='[trigger]'
      @closing='[/trigger]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
  </div>
  {{#unless @hideTitle}}
    <Board::PostForm::Control::Title @post={{@post}} />
  {{/unless}}
  <Common::Control::Textarea
    @id='textarea-post-form'
    @required={{true}}
    @size='max'
    @height='large'
    @value={{@post.message}}
    placeholder='Nachricht eingeben...'
    maxLength='15000'
    {{on 'change' this.handleMessageChange}}
  />
  {{#if this.showPreviewAndSubmitButtons}}
    <Common::Control::Button
      @icon='check'
      @text={{this.submitLabel}}
      @variant='primary'
      @size='max'
      @type='submit'
      @busy={{@post.isSaving}}
    />
    <Common::Control::Button
      @icon='eye'
      @text='Vorschau'
      @variant='secondary'
      @size='max'
      @type='button'
      @onClick={{this.handlePreview}}
    />
  {{/if}}
</form>