<div id='post-form-container' class='container-size-x-large'>
  <div role='toolbar' id='post-form-toolbar'>
    <Board::PostForm::Control::EmojiSelect
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::MemeSelect
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Fett'
      @icon='bold'
      @opening='[b]'
      @closing='[/b]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Kursiv'
      @icon='italic'
      @opening='[i]'
      @closing='[/i]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Unterstrichen'
      @icon='underline'
      @opening='[u]'
      @closing='[/u]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Durchgestrichen'
      @icon='strikethrough'
      @opening='[s]'
      @closing='[/s]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::Link
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::Image
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleInput
      @text='Video einf端gen'
      @icon='youtube'
      @prefix='fab'
      @opening='[video]'
      @closing='[/video]'
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleInput
      @text='Code einf端gen'
      @icon='code'
      @opening='[code]'
      @closing='[/code]'
      @useTextarea={{true}}
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleInput
      @text='Zitat einf端gen'
      @icon='quote-right'
      @opening='[quote]'
      @closing='[/quote]'
      @useTextarea={{true}}
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleInput
      @text='Spoiler einf端gen'
      @icon='eye'
      @prefix='far'
      @opening='[spoiler]'
      @closing='[/spoiler]'
      @useTextarea={{true}}
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='tex'
      @icon='t'
      @opening='[tex]'
      @closing='[/tex]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='trigger'
      @icon='magnifying-glass-minus'
      @opening='[trigger]'
      @closing='[/trigger]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
  </div>
  <form id='post-form' {{on 'submit' this.handleSubmit}}>
    {{#unless @hideTitle}}
      <Board::PostForm::Control::Title @post={{@post}} />
    {{/unless}}
    <Common::Control::Textarea
      @id='textarea-post-form'
      @label='Nachricht'
      @required={{true}}
      @size='max'
      @height='large'
      maxLength='15000'
      {{on 'change' this.handleMessageChange}}
    />
    <Common::Control::Button
      @icon='right-to-bracket'
      @text={{this.submitLabel}}
      @variant='primary'
      @size='max'
      @type='submit'
      @busy={{@busy}}
    />
    <Common::Control::Button
      @icon='eye'
      @text='Vorschau'
      @variant='secondary'
      @size='max'
      @type='button'
      @onClick={{this.handlePreview}}
    />
  </form>
</div>