<div id='post-form-container' class='container-size-x-large'>
  <div role='toolbar' id='post-form-toolbar'>
    <Common::Control::Button
      @icon='face-smile'
      @prefix='far'
      @text='Emojis'
      @variant='primary-transparent'
      @size='square'
      @type='button'
    />
    <Common::Control::Button
      @icon='bold'
      @text='Fett'
      @variant='primary-transparent'
      @size='square'
      @type='button'
    />
    <Common::Control::Button
      @icon='italic'
      @text='Kursiv'
      @variant='primary-transparent'
      @size='square'
      @type='button'
    />
    <Common::Control::Button
      @icon='underline'
      @text='Unterstrichen'
      @variant='primary-transparent'
      @size='square'
      @type='button'
    />
    <Common::Control::Button
      @icon='strikethrough'
      @text='Durchgestrichen'
      @variant='primary-transparent'
      @size='square'
      @type='button'
    />
    <Common::Control::Button
      @icon='link'
      @text='Link einfügen'
      @variant='primary-transparent'
      @size='square'
      @type='button'
    />
    <Common::Control::Button
      @icon='code'
      @text='Codeblock'
      @variant='primary-transparent'
      @size='square'
      @type='button'
    />
    <Common::Control::Button
      @icon='quote-right'
      @text='Zitat'
      @variant='primary-transparent'
      @size='square'
      @type='button'
    />
    <Common::Control::Button
      @icon='eye'
      @prefix='far'
      @text='Spoiler'
      @variant='primary-transparent'
      @size='square'
      @type='button'
    />
  </div>
  <form id='post-form' {{on 'submit' this.handleSubmit}}>
    <div role='toolbar' id='post-form-header'>
      <Common::Control::Input
        @label='Titel'
        @size='max'
        @value={{@post.title}}
        type='text'
        maxLength='255'
        form='post-form'
        @onChange={{this.handleTitleChange}}
      />
    </div>
    <textarea
      id='post-form-textarea'
      placeholder='Nachricht eingeben...'
      type='text'
      required={{true}}
      maxLength='15000'
      {{on 'change' this.handleMessageChange}}
    >{{@post.message}}</textarea>
    <Common::Control::Button
      @icon='right-to-bracket'
      @text={{this.submitLabel}}
      @variant='primary'
      @size='max'
      @type='submit'
      @busy={{@busy}}
    />
  </form>
</div>