<div id='post-form-container' class='container-size-x-large'>
  <div role='toolbar' id='post-form-toolbar'>
    <Board::PostForm::Control::EmojiSelect
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::MemeSelect
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Fett'
      @icon='bold'
      @opening='[b]'
      @closing='[/b]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Kursiv'
      @icon='italic'
      @opening='[i]'
      @closing='[/i]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Unterstrichen'
      @icon='underline'
      @opening='[u]'
      @closing='[/u]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Durchgestrichen'
      @icon='strikethrough'
      @opening='[s]'
      @closing='[/s]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::Link
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::Image
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::Video
      @post={{@post}}
      @textarea={{this.textarea}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Code'
      @icon='code'
      @opening='[code]'
      @closing='[/code]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Zitat'
      @icon='quote-right'
      @opening='[quote]'
      @closing='[/quote]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='Spoiler'
      @icon='eye'
      @prefix='far'
      @opening='[spoiler]'
      @closing='[/spoiler]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
    <Board::PostForm::Control::SimpleTag
      @text='tex'
      @icon='t'
      @opening='[tex]'
      @closing='[/tex]'
      @textarea={{this.textarea}}
      @post={{@post}}
    />
  </div>
  <form id='post-form' {{on 'submit' this.handleSubmit}}>
    {{#unless @hideTitle}}
      <Board::PostForm::Control::Title @post={{@post}} />
    {{/unless}}
    <textarea
      id='post-form-textarea'
      placeholder='Nachricht eingeben...'
      type='text'
      required={{true}}
      maxLength='15000'
      {{on 'change' this.handleMessageChange}}
    >{{@post.message}}</textarea>
    <Common::Control::Button
      @icon='right-to-bracket'
      @text={{this.submitLabel}}
      @variant='primary'
      @size='max'
      @type='submit'
      @busy={{@busy}}
    />
    <Common::Control::Button
      @icon='eye'
      @text='Vorschau'
      @variant='secondary'
      @size='max'
      @type='button'
      @onClick={{this.handlePreview}}
    />
  </form>
</div>