<Common::Control::Link
  class='board-item'
  @route='board'
  @query={{hash BID=@board.id}}
>
  <p class='board-item-title'>{{@board.name}}</p>
  <p class='subtitle'>{{@board.description}}</p>
  <p class='subtitle'>Letzter Post von
    <b>{{@board.lastPost.author.name}}</b>
    ({{date @board.lastPost.date}})</p>
</Common::Control::Link>