<div class='dropdown'>
  <div class='dropdown-inner control-size-{{this.size}}'>
    <button
      id='{{this.componentId}}-button'
      class='dropdown-toggle {{if this.expanded "dropdown-toggle-expanded"}}'
      type='button'
      aria-label={{@label}}
      aria-haspopup='true'
      aria-expanded='false'
      {{on 'click' this.toggle}}
      {{on 'blur' this.handleBlur}}
    >
      <p class='dropdown-toggle-caption'>{{this.caption}}</p>
      <FaIcon class='dropdown-toggle-icon' @icon='chevron-down' />
    </button>
    <label class='dropdown-label' for='{{this.componentId}}-button'>
      {{@label}}
    </label>
    <div class='dropdown-menu {{if this.expanded "dropdown-menu-visible"}}'>
      {{#each this.options as |option|}}
        <button
          class='dropdown-item
            {{if (eq option this.selectedOption) "dropdown-item-selected"}}'
          type='button'
          {{on 'click' (fn this.handleItemClick option)}}
        >{{option.label}}</button>
      {{/each}}
    </div>
  </div>
</div>