<div role='toolbar' id='post-form-header'>
  <Common::Control::Input
    @label='Titel'
    @size='max'
    @value={{@post.title}}
    type='text'
    maxLength='255'
    form='post-form'
    @onChange={{this.handleTitleChange}}
  />
  <Common::Control::Button
    @text='Post-Icon'
    @variant='primary-transparent'
    @size='square'
    @type='button'
    {{on 'click' this.handleIconClick}}
  >
    {{#if (eq this.icon '0')}}
      <FaIcon @icon={{this.randomEmojiIcon}} @prefix='far' />
    {{else}}
      <Board::Icon
        @key={{this.icon}}
        @directory='post-icons'
        @filename='{{this.icon}}.gif'
      />
    {{/if}}
  </Common::Control::Button>
</div>