<div class='sidebar-content-element flex-row justify-content-between'>
  <Common::Control::Link
    class='flex-column flex-grow'
    @route='board'
    @query={{hash BID=@board.id}}
    @variant='secondary'
    @onClick={{this.handleLinkClick}}
  >
    <p class='title'> {{@board.name}}</p>
    <p class='subtitle'> {{@board.description}}</p>
  </Common::Control::Link>
  <Common::Control::Menu @position='bottom-left'>
    <Common::Control::Menu::Button
      @text='Favorit entfernen'
      @onClick={{this.remove}}
    />
    <Common::Control::Menu::Link
      @href={{this.originalUrl}}
      @text='Original öffnen'
      target='_blank'
    />
  </Common::Control::Menu>
</div>