<Modal::Component::Header
  @title={{@options.title}}
  @icon={{@options.icon}}
  @variant={{@options.variant}}
/>
<Modal::Component::Content>
  {{#if @options.text}}
    <p>{{@options.text}}</p>
  {{/if}}
  <form id='input-modal-form' {{on 'submit' this.handleSubmit}}>
    <Common::Control::Input
      @label={{@options.label}}
      @size='max'
      @value={{this.value}}
      @onChange={{this.handleChange}}
      type={{this.type}}
      minLength={{@options.minLength}}
      maxLength={{@options.maxLength}}
      min={{@options.min}}
      max={{@options.max}}
    />
  </form>
</Modal::Component::Content>
<Modal::Component::Footer>
  <Common::Control::Button
    @text={{this.cancelLabel}}
    @variant='secondary'
    @size='small'
    @onClick={{this.handleCancel}}
  />
  <Common::Control::Button
    @text={{this.submitLabel}}
    @type='submit'
    @variant='primary'
    @size='small'
    form='input-modal-form'
  />
</Modal::Component::Footer>