<Modal::Component::Header
  @title={{@options.title}}
  @icon={{@options.icon}}
  @variant={{@options.variant}}
/>
<Modal::Component::Content>
  <p>{{@options.text}}</p>
</Modal::Component::Content>
<Modal::Component::Footer>
  <Common::Control::Button
    @text={{this.cancelLabel}}
    @variant='secondary'
    @size='small'
    @onClick={{this.handleCancel}}
  />
  <Common::Control::Button
    @text={{this.submitLabel}}
    @type='submit'
    @variant='primary'
    @size='small'
  />
</Modal::Component::Footer>