<div class='bookmark {{if this.hasNewPosts "bookmark-unread"}}'>
  <Common::Control::Link
    class='bookmark-link'
    @route='authenticated.thread'
    @query={{hash
      TID=@bookmark.thread.id
      PID=@bookmark.postId
      subtleUntilPostId=undefined
      page=undefined
      scrollToBottom=undefined
    }}
    @variant='secondary'
    @onClick={{this.handleLinkClick}}
  >
    <p class='title bookmark-title max-lines-1'>{{@bookmark.thread.title}}</p>
    <p class='subtitle bookmark-subtitle'>{{this.subtitle}}</p>
  </Common::Control::Link>
  <Common::Control::Menu @position='bottom-left'>
    <Common::Control::Menu::Button
      @text='Lesezeichen entfernen'
      @icon='trash'
      @onClick={{this.handleDelete}}
    />
  </Common::Control::Menu>
</div>