{{! @glint-nocheck }}
<Modal::Component::Header
  @title={{this.title}}
  @icon={{this.randomEmojiIcon}}
  @variant='info'
/>
<Modal::Component::Content>
  <div class='modal-select-icon-option-container'>
    {{#each this.options as |option|}}
      <Common::Control::Button
        @variant='secondary'
        @size='square'
        @onClick={{fn this.handleSelect option}}
      >
        {{#if (eq option.key '0')}}
          <FaIcon @icon='times' />
        {{else}}
          <Board::Icon @icon={{option.key}} />
        {{/if}}
      </Common::Control::Button>
    {{/each}}
  </div>
</Modal::Component::Content>
<Modal::Component::Footer>
  <Common::Control::Button
    @text='Abbrechen'
    @variant='secondary'
    @size='small'
    @onClick={{this.handleCancel}}
  />
</Modal::Component::Footer>