<div class='bookmark {{if this.hasNewPosts "bookmark-unread"}}'>
  <Common::Control::Link
    class='bookmark-link'
    @route='thread'
    @query={{hash
      TID=@bookmark.thread.id
      PID=@bookmark.postId
      subtleUntilPostId=''
      page=''
    }}
    @variant='secondary'
    @onClick={{this.handleLinkClick}}
  >
    <p class='title bookmark-title'>{{@bookmark.thread.title}}</p>
    <p class='subtitle bookmark-subtitle'>{{this.subtitle}}</p>
  </Common::Control::Link>
  <Common::Control::Menu @position='bottom-left'>
    <Common::Control::Menu::Button
      @text='Zitieren'
      @onClick={{this.handleDelete}}
    />
  </Common::Control::Menu>
</div>