{{! @glint-nocheck }}
<div class='flex-column'>
  {{#if this.thread}}
    {{#each this.posts as |post|}}
      <Board::Post
        @post={{post}}
        @thread={{@thread}}
        @subtle={{true}}
        @disableMenu={{true}}
      />
    {{/each}}
  {{else}}
    <Routes::Thread::SkeletonPost />
    <Routes::Thread::SkeletonPost />
    <Routes::Thread::SkeletonPost />
    <Routes::Thread::SkeletonPost />
    <Routes::Thread::SkeletonPost />
  {{/if}}
</div>