{{! @glint-nocheck }}{{page-title (t 'route.settings.title')}}

<Nav::Routes::Generic @title={{t 'route.settings.title'}} />

<Common::Container @size='small'>

  <h3>{{t 'route.settings.category.appearance'}}</h3>

  <Common::Control::Dropdown
    @options={{this.config.themeOptions}}
    @default={{@model.currentThemeOption}}
    @onSelect={{this.handleThemeSelect}}
    @size='max'
    @label={{t 'route.settings.theme.label'}}
  />

  <Common::Control::Dropdown
    @options={{this.config.sidebarLayoutOptions}}
    @default={{@model.currentSidebarLayoutOption}}
    @onSelect={{this.handleSidebarLayoutSelect}}
    @size='max'
    @label={{t 'route.settings.sidebar.label'}}
  />

  <Common::Control::Dropdown
    @options={{this.config.fontSizeOptions}}
    @default={{@model.currentFontSizeOption}}
    @onSelect={{this.handleFontSizeSelect}}
    @size='max'
    @label={{t 'route.settings.font-size.label'}}
  />

  <Common::Control::Dropdown
    @options={{this.config.darkenReadPostsOptions}}
    @default={{@model.currentDarkenReadPostsOption}}
    @onSelect={{this.handleDarkenReadPostsSelect}}
    @size='max'
    @label={{t 'route.settings.darken-read-posts.label'}}
  />

  <h3>{{t 'route.settings.category.network'}}</h3>

  <Common::Control::Dropdown
    @options={{this.config.avatarStyleOptions}}
    @default={{@model.currentAvatarStyleOption}}
    @onSelect={{this.handleAvatarStyleSelect}}
    @size='max'
    @label={{t 'route.settings.avatar-style.label'}}
  />

  <Common::Control::Dropdown
    @options={{this.config.autoRefreshSidebarOptions}}
    @default={{@model.currentAutoRefreshSidebarOption}}
    @onSelect={{this.handleAutoRefreshSidebarSelect}}
    @size='max'
    @label={{t 'route.settings.auto-refresh-sidebar.label'}}
  />

  <h3>{{t 'route.settings.category.behavior'}}</h3>

  <Common::Control::Dropdown
    @options={{this.config.landingPageOptions}}
    @default={{@model.currentLandingPageOption}}
    @onSelect={{this.handleLandingPageSelect}}
    @size='max'
    @label={{t 'route.settings.landing-page.label'}}
  />

  <Common::Control::Dropdown
    @options={{this.config.replaceForumUrlsOptions}}
    @default={{@model.currentReplaceForumUrlsOption}}
    @onSelect={{this.handleReplaceForumUrlsSelect}}
    @size='max'
    @label={{t 'route.settings.replace-forum-urls.label'}}
  />

  <Common::Control::Dropdown
    @options={{this.config.gesturesOptions}}
    @default={{@model.currentGesturesOption}}
    @onSelect={{this.handleGesturesSelect}}
    @size='max'
    @label={{t 'route.settings.enable-gestures.label'}}
  />

  <h3>{{t 'route.settings.category.advanced'}}</h3>

  <Common::Control::Dropdown
    @options={{this.config.debugOptions}}
    @default={{@model.currentDebugOption}}
    @onSelect={{this.handleDebugSelect}}
    @size='max'
    @label={{t 'route.settings.debug.label'}}
  />

  <hr />

  <Common::Control::Link
    @route='applog'
    @size='large'
    @variant='primary'
    class='margin-auto margin-vertical-x-small'
  >
    <FaIcon @icon='rectangle-list' />
    <p>{{t 'route.applog.title'}}</p>
  </Common::Control::Link>

  <Common::Control::Link
    @route='changelog'
    @size='large'
    @variant='primary'
    class='margin-auto margin-vertical-x-small'
  >
    <FaIcon @icon='star' @prefix='fas' />
    <p>{{t 'route.changelog.title'}}</p>
  </Common::Control::Link>

  <Common::Control::Link
    @route='about'
    @size='large'
    @variant='primary'
    class='margin-auto margin-vertical-x-small'
  >
    <FaIcon @icon='info-circle' @prefix='fas' />
    <p>{{t 'route.about.title'}}</p>
  </Common::Control::Link>

  <hr />

  <h3>{{t 'route.settings.session.title'}}</h3>
  <p class='no-margin'>{{t 'route.settings.session.user-id'}}:
    {{@model.session.userId}}</p>
  <p>{{t 'route.settings.session.username'}}: {{@model.session.username}}</p>
  <Common::Control::Button
    @text={{t 'route.settings.session.sign-out'}}
    @icon='right-from-bracket'
    @variant='primary'
    @size='large'
    @onClick={{this.handleSignOut}}
  />

</Common::Container>