{{! @glint-nocheck }}{{page-title 'Einstellungen'}}

<Nav::Routes::Generic @title='Einstellungen' />

<Common::Container @size='small'>

  <h3>Anzeige</h3>

  <Common::Control::Dropdown
    @options={{this.config.avatarStyleOptions}}
    @default={{@model.currentAvatarStyleOption}}
    @onSelect={{this.handleAvatarStyleSelect}}
    @size='max'
    @label='Bender'
  />

  <Common::Control::Dropdown
    @options={{this.config.boxStyleOptions}}
    @default={{@model.currentBoxStyleOption}}
    @onSelect={{this.handleBoxStyleSelect}}
    @size='max'
    @label='Design'
  />

  <Common::Control::Dropdown
    @options={{this.config.sidebarLayoutOptions}}
    @default={{@model.currentSidebarLayoutOption}}
    @onSelect={{this.handleSidebarLayoutSelect}}
    @size='max'
    @label='Sidebar'
  />

  <Common::Control::Dropdown
    @options={{this.config.fontSizeOptions}}
    @default={{@model.currentFontSizeOption}}
    @onSelect={{this.handleFontSizeSelect}}
    @size='max'
    @label='Schriftgröße'
  />

  <h3>Daten & Netzwerk</h3>

  <Common::Control::Dropdown
    @options={{this.config.autoRefreshSidebarOptions}}
    @default={{@model.currentAutoRefreshSidebarOption}}
    @onSelect={{this.handleAutoRefreshSidebarSelect}}
    @size='max'
    @label='Automatischer Newsfeed-Refresh'
  />

  <h3>Personalisierung</h3>

  <Common::Control::Dropdown
    @options={{this.config.landingPageOptions}}
    @default={{@model.currentLandingPageOption}}
    @onSelect={{this.handleLandingPageSelect}}
    @size='max'
    @label='Startseite'
  />

  <hr />

  <Common::Control::Link
    @route='applog'
    @size='large'
    @variant='primary'
    class='margin-auto margin-vertical-x-small'
  >
    <FaIcon @icon='rectangle-list' />
    <p>Applog</p>
  </Common::Control::Link>

  <Common::Control::Link
    @route='changelog'
    @size='large'
    @variant='primary'
    class='margin-auto margin-vertical-x-small'
  >
    <FaIcon @icon='star' @prefix='fas' />
    <p>Changelog</p>
  </Common::Control::Link>

  <Common::Control::Link
    @route='about'
    @size='large'
    @variant='primary'
    class='margin-auto margin-vertical-x-small'
  >
    <FaIcon @icon='info-circle' @prefix='fas' />
    <p>Über die App</p>
  </Common::Control::Link>

  <hr />

  <h3>Sitzung</h3>
  <p class='no-margin'>User ID: {{@model.session.userId}}</p>
  <p>Username: {{@model.session.username}}</p>
  <Common::Control::Button
    @text='Abmelden'
    @icon='right-from-bracket'
    @variant='primary'
    @size='large'
    @onClick={{this.handleSignOut}}
  />

</Common::Container>