{{page-title 'potber'}}

{{#if @model.failure}}
  <Misc::Error::StartupFailure @error={{@model.error}} />
{{else}}
  <div id='page-content'>
    {{outlet}}
  </div>

  <Misc::LoadingIndicator />

  <Modal />

  <NotificationContainer @position='bottom' @zindex='99' />

  <Sidebar @bookmarksSummary={{@model.bookmarksSummary}} />

  <div id='top-nav' class='nav' role='toolbar'>
    {{#if this.authenticated}}
      <Common::Control::Button
        @icon={{if this.renderer.leftSidebarExpanded 'chevron-left' 'bars'}}
        @text='Navigation'
        @size='square'
        @variant='primary-transparent'
        @onClick={{this.toggleLeftSidebar}}
      />
    {{else}}
      <span class='control-size-square' />
    {{/if}}
    <PortalTarget @name='top-nav' class='nav-portal-target' />
    <span class='control-size-square' />
  </div>

  <div id='bottom-nav' class='nav' role='toolbar'>
    <PortalTarget @name='bottom-nav' class='nav-portal-target' />
  </div>
{{/if}}