{{page-title 'potber'}}

<div id='page-content'>
  {{outlet}}
</div>

<Sidebar @bookmarks={{@model.bookmarks}} />

<Misc::LoadingIndicator />

<NotificationContainer @position='bottom' @zindex='99' />

<div id='top-nav' class='nav' role='toolbar'>
  <Common::Control::Button
    @icon={{if this.renderer.leftSidebarExpanded 'chevron-left' 'bars'}}
    @text='Navigation'
    @size='square'
    @variant='primary-transparent'
    @onClick={{this.toggleLeftSidebar}}
  />
  <PortalTarget @name='top-nav' class='nav-portal-target' />
  <span class='control-size-square' />
</div>

<div id='bottom-nav' class='nav' role='toolbar'>
  <PortalTarget @name='bottom-nav' class='nav-portal-target' />
</div>